.gal-container {
  width: 100%;
}

.gal-header {
  margin-top: 110px;
  margin-bottom: 20px;
  font-size: 50px;
  width: 600px;
  font-family: "Metal Mania", cursive;
}

.gal-item {
  font-size: 15px;
  width: 650px;
  margin-bottom: 50px;
  line-height: 22px;
}

.gal-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.corousel-img {
  width: 650px;
  height: 450px;
  margin-left: 180px;
  margin-bottom: 40px;
  margin-top: 30px;
}
