@media (max-width: 900px) {
  .gal-header {
    margin-top: 90px;
    font-size: 30px;
    width: 400px;
  }

  .gal-item {
    width: 500px;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 20px;
  }

  .corousel-img {
    width: 550px;
    height: 350px;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Mobile */

@media (max-width: 600px) {
  .gal-header {
    margin-top: 50px;
    font-size: 20px;
    width: 280px;
  }

  .gal-item {
    width: 300px;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 16px;
  }

  .corousel-img {
    width: 250px;
    height: 160px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
